.Form {
  display: flex;
  justify-content: center;
}

label {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #d75f00;
  display: flex;
  margin-bottom: 5px;
}

input + label {
  font-weight: normal;
  display: inline-flex;
  margin-right: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  display: flex;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

input[type='number'] {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.control-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.select-1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.label-1 {
  display: grid;
  width: 100px;
  font-weight: bold;
  margin-bottom: 5px;
}

ul {
  border: 1px solid #eee;
  border-radius: 10px;
  list-style-type: circle;
  list-style-position: inside;
  margin: 0 3px 1px 0;
  margin-left: 0;
  margin-bottom: 1px;
}
li {
  margin-bottom: 0.1rem;
}

@media (min-width: 575.95px) {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea,
  select {
    width: 400px;
  }

  .control-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
  }
  .select-1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .label-1 {
    display: grid;
    width: 100px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type='number'] {
    display: grid;
    width: 100px;
  }
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}
